<!DOCTYPE html>
<html>
<head>

    <title>Login Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Web Attack Detection in SIEM</h1>

    <div class="container">

        <div class="login-box">

            <form method="POST">

                <h2>Login Form</h2>

                <label>Username:</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username"
                    required
                >

                <label>Password:</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required
                >

                <button type="submit">Login</button>

            </form>

        </div>

    </div>

</body>
</html>